*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}
body {
    min-height: 100vh;
    background-color: #f9f9f9;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
}
form {
    display: flex;
    flex-direction: column;
    background-color: #fff;
    max-width: 500px;
    width: 100%;
    padding: 30px 40px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    border-radius: 10px;
}
form h1
{
    font-size: 2rem;
    font-weight: 600;
    margin: 0 auto;
    margin-bottom: 20px;
}
label {
    display: block;
    margin-bottom: 5px;
    font-size: 1rem;
    font-weight: 500;
}
input {
    width: 100%;
    padding: 10px 20px;
    font-size: 1rem;
    border: 1px solid rgb(199, 199, 199);
    border-radius: 5px;
}
input:focus {
    outline: 2px solid rgba(51, 153, 219, 0.8);
}
.form-group {
    margin-bottom: 20px;
}
button {
    padding: 15px;
    border-radius: 7px;
    border: none;
    outline: none;
    color: white;
    font-size: 1rem;
    background-color: #3399db;
    cursor: pointer;
    margin-top: 20px;
}
.error-message{
    font-size: 0.8rem;
    color: #DA5345;
}